@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

*{
box-sizing: border-box;
font-family:  'Poppins', sans-serif;
}
:root{
    --white-color: #fff;
    --header-color: #1e2022;
    --black-color: #000;
    
}
html{
    scroll-behavior: smooth;
}
body{
margin: 0;
padding: 0;
width: 100%;
color: var(--white-color);
height: 100%;
font-family: 'Poppins', sans-serif;
letter-spacing: 0.5px;
font-weight: 400;
overflow-x: hidden;
background-color:#00040F;
}
nav .nav-ul li{
    display: inline-flex;

}
/*code for Navigation menu*/
.menu-section{
    position: fixed;
    top: 0;
    z-index: 9999; 
    width: 100%;
}
.nav-img{
    width: 150px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48rem;
}
@media screen and (min-width: 1200px) {

.background-scroll{
    width: 100%;
    color: var(--black-color);
    background-color: 	rgb(255,255,255,0.3);
    max-width: 1400px;
    margin: 0 auto;
    gap: 35rem;
    padding: 10px;
    
}
.profile:hover,.comments:hover,.comments-2:hover{
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
    padding: 30px 20px;
    border-radius: 20px;
    transition:  ease-in-out .2s;
}
.light-background{
    position: absolute;
    width: 400px;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0.6;
    z-index: -2;
    background: rgba(255, 255, 255, 0.2);
    filter: blur(175px);
    background: linear-gradient(90deg, #1A2980 0%, #26D0CE 100%);

}
}
.nav-ul{
list-style-type: none;
margin: 0;
overflow: hidden;
padding: 20px;
}
 
 #links{
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 5px;
    gap: 0rem;
    z-index: 999;
}

a:hover{
    transition: .5s;
    color: #0f17a1;
}
#check,i{
float: left;
}

#check{
    display: none;
}
.checkbtn{
    font-size: 1.9rem;
    float: right;
    cursor: pointer;
    display: none;
    line-height: 80px;
}
 
.visible{
    opacity: 0;
    position: relative;
    transition:  ease-in-out .8s;
    transform: translateY(100px);
}
.visible.show{
   opacity: 1;
   transition: ease-in-out .8s;
   transform: translateY(-50px);
}
/*Nav menu ends here */

/* styling for all section */
.section-container{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .container{
        display: flex;
      }
p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    line-height: 2rem;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

    /* Hero section styling */
 .hero-section{
        margin: 100px 0;
        position: relative;
     }
     .hero-container{
      display: flex; 
      position: relative;
     }
     
.hero-section .discount-price{
    color: lightblue;
}
.hero-section h2{
    font-size: 1rem;
    margin-left: 2rem;
    text-align: center;
    margin-top: -2rem;
}
.discount{
    background-color: #1e2022;
    position: relative;
    border-radius: 10px;
    width: 23rem;
    padding-top: 30px;
}
.left-items{
margin: 100px 0px;
}
.discount h2{
   padding: 0.5rem;
}
.discount img{
   margin-left: 0.5rem;
   position: absolute;
   top: 3px;
}
.hero-section h1{
    font-size: 4.5rem;
    max-width: 40rem;
    line-height: 6.5rem;
}
.hero-section p{
    max-width: 30rem;
    line-height: 2rem;
    color: rgba(255, 255, 255, 0.7);

}
.gradient{
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,#def9fa .89%,#bef3f5 17.23%,#9dedf0 42.04%,#7de7eb 55.12%,#5ce1e6 71.54%,#33bbcf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-images{
   max-width: 700px; 

}
.hero-img{
    max-width: 100%;
    height: auto;
}
.hero-images::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: -2;
    background: rgba(255, 255, 255, 0.2);
    filter: blur(125px);
}

.hero-images{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
position: relative;
z-index: -5;
}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid  #33BBCF;
    position: absolute;
    left: 500px;
    top: 220px;
    padding: 4.2rem;  
}

h4{
 position: absolute;
 top: 20px;
 left: 40px;
}

/*stats */
.stats-container{
    gap: 4rem;
}
.stats{
    margin-top: -100px;
}
.stats h1 {
    display: inline;
    padding: 20px;
    font-size: 2.3rem;
    vertical-align: middle;
}
.stats span{
    font-size: 1.3rem;
}
/* business section */
.business{
    margin-top: 10rem;
}
.business-container{
    gap: 11rem;
}
.business h1{
    font-size: 3.2rem;
    max-width: 650px;
    line-height: 5rem;
}
.business p{
    max-width: 550px;
    line-height: 1.7rem;
}
.business-stats{
    position: relative;
}
.business img{
    position: absolute;
    left: -50px;
}
.first-img{
    position: absolute;
    top: 20px;
}

.btn{
    padding: 15px 25px;
    font-size: 1.15rem;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 1rem;
    outline: none;
    border: none;
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,#def9fa .89%,#bef3f5 17.23%,#9dedf0 42.04%,#7de7eb 55.12%,#5ce1e6 71.54%,#33bbcf 100%);
}
.btn:hover{
    transform: scale(1.05);
}
.business p{
 max-width: 500px;
}
.business div:nth-child(2){
    margin-top: 2rem;
}

.business-stats img{
    padding-right: 1rem;
}

/* invoice-section */
.invoice-img{
    width: 600px; 
}
.invoice-container{
    flex-direction: row-reverse;
    gap: 11rem;
}
.invoice p{
    max-width: 550px;  
}
.invoice h1{
 font-size: 2.7rem;
 max-width: 400px;
}
.invoice-container div:first-child{
    margin: 80px 0;
}
.invoice-container div:first-child img:last-of-type{
 margin-left: 2rem;
}

/* card-deal section */
.deal h1{
 font-size: 3rem;
 max-width: 700px;
}
.deal p{
    max-width: 500px;
}
.deal img{
    width: 600px;
}
.deal-container{
    gap: 1.5rem;
}
/* reviews-sections */
.review-1{
    margin: 100px 0;
}
.review-1 h1{
    font-size: 2.7rem;
    max-width: 500px;
    line-height: 5rem;
}
.review-1 p{
    max-width: 500px;
    font-size: 1.1rem;
    margin-top: 5rem;
}
.review-1-container{
    gap: 20rem;
}

 /* .reviews-2 section  */
.reviews-2 p:first-of-type{
    max-width: 250px;
}

.profile-img{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 1rem;
}
.reviews-2-container{
    gap: 12rem;
}

.info {
    margin-top: 4rem;
}
.info-2{
    margin-top: 5.5rem;
}
.info-3{
    margin-top: 1rem;
}
.profile{
    max-width: 600px;
}

/* sponsor */
.sponsor{
    margin: 100px 0;
    position: relative;
}
.sponsor img{
   width: 220px;
   height: 50px;
   object-fit: contain;
}
.sponsor img:hover{
    transform: scale(1.1);
}
.sponsor-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 7rem;
}

/* service */
.service p{
    color: var(--white-color);
    max-width: 500px;
}
.service h1{
    font-size: 3rem;
}
.service-container{
    gap: 20rem;
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
    border-radius: 20px;
    padding: 70px 100px;
}
.service button{
  margin-top: 100px;
}

/* footer-section */
footer{
    margin: 100px 0;
}
.footer-container{
 display: grid;
 grid-template-columns:  1fr 1fr 1fr 1fr;
 width: 1340px;
 gap: 10rem;
}

.footer-items{
 display: flex;
 flex-direction: column;

}
.footer-items p{
line-height: 1rem;
font-size: 1rem;
}
.footer-img{
    width: 300px;
}
.footer-img + p{
    margin-top: 2rem;
    line-height: 1.5rem;
}
footer h1{
    font-size: 1rem;
}
hr{
    border: 1px solid #8b8c8d;
    margin-top: -70px;
    width: 1320px;
}
/* menu containers */
.menu-containers{
    margin: 20px 0;
    gap: 52rem;
}
.menu-items img{
    padding: 1rem;
    margin-left: -0.5rem;
}
.menu-items img:hover{
    transform: scale(1.1);
}
@media (max-width: 319px){
    .service h1{
        font-size: 2rem;
    }
 .discount h2{
    display: inline;
    text-align: left;
    padding: 0;
    
 }
 .discount{
   width: 100%;
  
 }
 .discount img{
    margin-left: -1px;
 }
}

/* media queries */
 /* for smaller mobile phones */
 @media (max-width: 318px){ 
    .service h1{
        font-size: 2rem;
    }
  .stats span{
    display: block;
    margin: auto;
    width: 90%;
    padding: 0.5rem;
  }
 .discount h2{
    font-size: 0.8rem;
 }
 .discount{
 width: 270px;
 display: block;
 margin: auto;
 padding: 0.5rem;
 }

 }
/* Mobile Devices */
@media (max-width: 480px) {
     /* hero-section */
    .hero-container{
        display: flex;
        flex-direction: column;
        width: 90%;
         margin: -100px 0;
    }
    .hero-section h1{
        font-size: 2.4rem;
        line-height: 3rem;
    }
   
    html,body{
        font-size: 0.95rem;
    }
    .discount{
        width: 95%;
        font-size: 0.9rem;
    }
    .circle{
        display: none;
    }
    .grid{
        grid-template-columns: 1fr;
        width: 90%;
        gap: 2rem;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    /* stats */
    .stats h1{
     font-size: 2rem;
    }
    
    .stats{
     margin-top: 150px;
    }
    .stats-container{
        gap: 1rem;
        width: 95%;
    }
    .stats span{
        font-size: 1.1rem;
    }
    /* business */
    .business h1{
        font-size: 1.6rem;
        line-height: 2.5rem;
    }
    .business{
        margin: 50px 0;
    }
    .business-stats{
      width: 70%;
      margin: auto;
    }
    .business-container{
        gap: 3rem;
    }
    /* invoice */
    .invoice{
        margin: -50px 0;
    }
    .invoice-container{
        gap: 0rem;
    }
    .invoice-img{
        width:  100%;
        margin: auto;
    }
    .invoice h1{
        font-size: 2rem;
    }
    /* deal */
    .deal{
        margin: 70px 0;
    }
    .deal img{
        width: 100%; 
    }
    .deal h1, .review-1 h1{
        font-size: 1.9rem;
        max-width: 400px;
   
    }
    .review-1 h1{
        line-height: 4rem;
    }
  /* reviews-1 */

  .review-1-container{
    gap: 0rem;
  }
  .review-1{
    margin: 0px 0;
  }
.review-1 p{
    margin: 0;
}

.reviews-2-container{
     gap: 3rem;
}
.reviews-2{
    margin: 50px 0;
}
.profile:hover,.comments:hover,.comments-2:hover{
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
    padding: 30px 20px;
    border-radius: 20px;
    transition:  ease-in-out .8s;
}
/* sponsors */
.sponsor-container{
    grid-template-columns: 1fr 1fr;
}
.sponsor img{
    max-width: 90%;
    height: auto;
}
/* service */
.service-container{
    gap: 0;
    padding:  10px 50px;
}
.service h1 {
 font-size: 1.7rem;
}
.service-container{
    padding: 20px 20px;
}

.service button{
    margin: 20px 0;
}
/* Footer-menu */
.footer-container{
    grid-template-columns: 1fr;
}
/* menu-items */
.menu-containers{
    gap: 1rem;
    text-align: center;
}
hr{
    max-width: 90%;
}
}

/* Tablets and iPads */

@media (min-width: 481px) and (max-width: 700px){
    .container{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        margin: 0 auto;
        gap: 2rem;
    }
    .grid{
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 90%;
    }
    .deal h1, .business h1, .invoice h1{
    font-size: 2.6rem;
    max-width: 700px;
    line-height: 4rem;
    }
    .deal img, .invoice-img{
        width: 100%;
        margin: auto;
    }
    .hero-container{
        display: flex;
        flex-direction: column;
        width: 90%;
         margin: 0;
    }
    .circle{
        display: none;
    }
    html,body{
        font-size: 1.2rem;
    }
    .hero-section h1{
        font-size: 2.5rem;
        line-height: 4rem; 
        max-width: 900px;
    }
    /* stats */
    .stats {
      margin: 50px 0;
    }
    /* business */
   .business{
    margin: 0;
   }
 .business-stats{
    width: 80%;
    margin: auto;
 }
 .business p{
    width: 700px;
 }
   /* invoice */
   .invoice-img{
    margin-top: -50px;
   }
  /* reviews-1 */
  .review-1 p{
    margin: 0;
  }
  .review-1-container{
    gap: 0rem;
  }
  .reviews-2-container{
    margin: auto;
    width: 70%;
  }
  .profile,.comments,.comments-2{
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
    padding: 30px 30px;
    border-radius: 20px;
    transition:  ease-in-out .5s;
}
.profile{
    max-width: 100%;
}
/* sponsors */

 .sponsor-container{
    grid-template-columns:  1fr 1fr;
 }
 /* service */
 .service button{
    margin: 10px 10px;
}
.service-container{
    padding: 20px 15px;
}
.service h1{
    font-size: 2rem;
}

/* menu-items */
.menu-containers{
    gap: 1rem;
    text-align: center;
}
hr{
    max-width: 90%;
}
}
/* tablets */

@media (min-width: 701px) and (max-width: 1050px){
  .container{ 
    display: flex;
    flex-direction: column;
    height: auto;
    width: 95%;
    margin: 0 auto;
    gap: 2rem;
}
html,body{
    font-size: 1.1rem;
}
.grid{
    grid-template-columns: 1fr 1fr;
    width: 90%;
    gap: 1rem;
}
.hero-section h1{
 font-size: 4rem;
}
.hero-section p{
  max-width: 90%;
}

.deal img, .invoice-img{
    width: 100%;
    margin: auto;
}
.hero-container{
    display: flex;
    flex-direction: column;
     width: 95%;
     margin: 0;
}
.hero-images{
    max-width: 1200px;
}
.circle{
    position: absolute;
    left: 70%;
}
.stats h1{
    font-size: 1.4rem;
}

.stats-container span{
    color: red;
    font-size: 1.2rem;
}
.stats span{
    display: block;
    margin: auto;
    padding: 0.5rem;
  }
/* business */
.business{
    margin: 0 auto;
   }
 .business-stats{
    width: 87%;
    margin: auto;
 }

 .business-container , .invoice-container, .deal-container, .review-1-container{
    width: 95%;
 }
 .business h1,  .invoice h1, .review-1 h1{
    max-width: 100%;
 }
 /* invoice */
.invoice p{
    max-width: 90%;
}
.deal p, .review-1 p, .business p{
    max-width: 80%;
}
.deal img{
    width: 95%;
}
/* reviews */
.review-1 p{
   margin-top: -50px;
   max-width: 70%;
}
/* service */

.service button{
    margin:  40px 0;
}
.service-container{
   width: 80%;
   padding: 0.5rem 3rem;
}

/* footer */
.footer-container{
    grid-template-columns: 1fr 1fr;
}
/* menu-items */
.menu-containers{
    text-align: center;
}
hr{
    max-width: 90%;
}
.footer-img + p{
    max-width: 350px;
}
}
/* laptops and desktops */
@media (min-width: 1051px) and (max-width: 1355px){
    .container{ 
        display: flex;
        margin: 0 auto;
        width: 90%;
    }
    .grid{
        grid-template-columns: 1fr 1fr;
        width: 90%;
        gap: 1rem;
    }
    .invoice-img,.deal img{
        width: 100%;
    }
    .discount{
        height: 3rem;
    }
    .hero-img{
        width: 100%;
        float: right;
        margin: 100px 0;
    }
    .hero-section h1{
        font-size: 4rem;
        line-height: 4.5rem;
        width: 600px
    }
    .circle{
        left: 400px;
        top: 180px;
    }
   
    .invoice-container div:first-child{
       gap: 0rem;
       margin-top: 0px;
    }
    .business-container div:nth-child(2){
        width: 800px;
    }
    .invoice p , .invoice h1{
        max-width: 100%;
    }
    .invoice-container{
        margin:  50px 0;
    }
    .hero-container{
        width: 90%;
    }
    .business h1,  .invoice h1, .review-1 h1, .deal h1{
        max-width: 100%;
     }
   .deal h1{
    width: 500px
   }
   .deal-container{
    gap: 3rem;
   }
   .reviews-2-container{
    gap: 5rem;
   }
   .sponsor-container{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
   }
   .service-container{
    width: 90%;
    padding: 3rem 3rem;
    gap: 6rem;
   }
   .footer-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
   }
   .menu-containers{
    display: block;
    padding: 10px;
}

hr{
    max-width: 90%;
}
}
/*Nav menu media query*/
@media (max-width: 991px){
    nav .nav-ul li a{
        font-size: 1rem;
    }
    .menu{
        gap: 0rem;
        justify-content: left;
    }
}

@media (max-width: 991px){
    .checkbtn{
       display: block;
    }
   
    .nav-ul{
   position: relative;
   width: 80%;
   height: 22rem;
   left: -100%;
   background-color: rgb(0,4,15, 1);
   transition: all  .5s;
   text-align: left;
   margin-left: 5rem;
   line-height: 3rem;
   border: 1px solid rgba(48, 54, 70, 0.8);
    }
  nav .nav-ul li{
    display: flex;
    margin: 3.2rem 0;
    line-height: 10px;
    flex-direction: column;
    margin: -0.5rem;
   
  }
  nav .nav-ul li a{
    font-size: 1.3rem;
    border-bottom: 1px solid rgb(226, 214, 214);
    width: 700px;
  }
 
  #check:checked ~ ul{
    left: 0;
  }
  .checkbtn{
    width: 100%;
    padding: 1%;
  }

  .fas {
  margin-top:0rem;
  font-size: 1.3rem;
  color: var(--white-color)
  }
  
  }

  @media screen and (min-width: 250px) and (max-width: 450px){
   .nav-ul {
  width: 90%;
  margin-left: 1rem;
    }
    nav .nav-ul li a{
        font-size: 1.2rem;
      }
     
  }
  @media screen and (max-width: 991px){
    .nav-img{
        position: absolute;
         right: 20;
         top: 10;
         width: 15%;

      }
}
@media screen and (min-width: 991px) and (max-width: 1355px){
    .menu{
        max-width: 90%;
        align-items: center;
        gap: 25rem;

    }
   .nav-img{
    width: 150px;
   }
}
@media(max-width: 395px){
    .discount{
        width: 100%;
        
    }
    .discount span{
        font-size: 0.8rem;
    }
    .discount h2{
        font-size: 0.9rem;
    }
}

@media(max-width: 330px){
 
    .discount span{
        font-size: 0.8rem;
    }
    .discount h2{
        font-size: 0.8rem;
    }
}
